@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
    --navy-color: #161D6F;
    --blue-color: #0B2F9F;
    --teal-color: #98DED9;
    --mint-color: #C7FFD8;
    --navbar-height: 100px;   
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}



